@mixin input_box($width_box) {
  width: 100%;
  display: flex;

  .label-wrap {
    label {
      font-weight: 600;
      width: 240px;
      height: 39px;
      display: inline-flex;
      align-items: center;
    }
  }

  .required-wrap {
    height: 39px;
    display: inline-flex;
    align-items: center;

    .required_input {
      color: #ffffff;
      font-size: 12px;
      border: 1px solid transparent;
      border-radius: 5px;
      background-color: #f32525;
      margin: 0 15px 0 25px;
      padding: 0px 7px;
    }

    .optional {
      background-color: #4a7d8f;
    }
  }

  .r-input {
    display: inline-grid;
    margin-bottom: 10px;
    position: relative;

    input {
      border: 1px solid #9f9f9f66;
      border-radius: 2px;
      outline: none;
      padding: 8px 10px;
      width: $width_box;
      color: #222222;

      &:focus {
        border: 1px solid #04a4de;
        caret-color: #04a4de;
        color: #000000;
      }
    }

    input[type='password'] {
      -webkit-text-security: square;
      font-family: Verdana;
    }

    &_eye-icon {
      position: absolute;
      top: 10px;
      right: 14px;
    }

    &_validate {
      color: #fd4444;
      font-size: 12px;
      line-height: 18px;
      margin-top: 4px;
    }

    .pwd {
      max-width: 560px;
      color: #626262;
    }

    .select {
      width: $width_box;
      height: 48px;
    }
  }
}

// button
@mixin btn($bg-color, $text-color, $border-color) {
  width: 100%;
  height: auto;
  background-color: $bg-color;
  outline: none;
  color: $text-color;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: 0;
  padding: 9.5px 0;

  @if $border-color {
    border: 2px solid $border-color;
  }
}

// button
@mixin btn_cus($bg-color) {
  background-color: $bg-color;
  outline: none;
  line-height: 19px;
  padding: 10.5px 0;
  outline: none;
  border-radius: 2px;
  border: 1px solid #04a4de;
  --hover_cl: #fd7444;
  --text_cl: #ffffff;

  @if $bg-color==#04a4de {
    --hover_cl: #1fbaf2;
    color: #ffffff !important;
    --text_cl: #04a4de;
  }

  @if $bg-color==#1fbaf21a {
    --hover_cl: #04a4de;
    --text_cl: #04a4de;
  }

  @if $bg-color==#ffffff {
    --hover_cl: #04a4de;
    --text_cl: #04a4de;
  }

  border: 1px solid var(--text_cl);

  color: var(--text_cl);

  &:hover {
    background-color: var(--hover_cl);
    color: #ffffff;
  }

  @if $bg-color==#CFCFCF80 {
    --hover_cl: $bg-color;
    --text_cl: #9f9f9f;
    border: 1px solid transparent;

    &:hover {
      background-color: #cfcfcf80;
      color: #9f9f9f;
      cursor: not-allowed;
    }
  }
}

@mixin c-input-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 18px;
  width: 18px !important;
  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-right: 11px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #62626233;
  background: #ffffff;
  transition: background-color 0.3s;
  align-self: center;
  padding: unset;

  &:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    width: 9px;
    height: 12px;
    border: 3px solid #fff;
    border-top: 0;
    border-left: 0;
    left: 4px;
    top: 0px;
    transform: rotate(40deg);
  }

  &:checked {
    background-color: #099cd1;
  }

  & + label {
    cursor: pointer;
    margin-bottom: 0;
    color: #0c1125;
  }
}

// input checkbox
@mixin c-checkbox__wrap {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-flex;

  .c-checkbox {
    @include c-input-checkbox;
    height: 20px;
    width: 20px;

    &:after {
      top: 1px;
    }
  }

  .checkbox-confirm {
    background: #cfcfcf;
  }

  .c-checkbox.checkbox-confirm::after {
    border: 3px solid #cfcfcf;
    border-top: 0;
    border-left: 0;
  }

  .c-checkbox.checkbox-confirm:checked {
    background: #cfcfcf;
  }

  .c-checkbox.checkbox-confirm:checked::after {
    border: 3px solid #ffffff;
    border-top: 0;
    border-left: 0;
  }

  label {
    margin-top: 1px;
  }
}

@mixin flexCenterVertical {
  display: flex;
  align-items: center;
}

@mixin flexCenter {
  @include flexCenterVertical();
  justify-content: center;
}
