@for $i from 0 through 7 {
  .font-weight-#{$i} {
    font-weight: $i * 100;
  }
}

@for $i from 0 through 100 {
  .margin-left-#{$i} {
    margin-left: $i * 1px;
  }
  .margin-right-#{$i} {
    margin-right: $i * 1px;
  }
  .margin-bottom-#{$i} {
    margin-bottom: $i * 1px;
  }
  .margin-top-#{$i} {
    margin-top: $i * 1px;
  }
  .font-size-#{$i} {
    font-size: $i * 1px;
  }
  .border-radius-#{$i} {
    border-radius: $i * 1px !important;
  }
  .padding-#{$i} {
    padding: $i * 1px !important
  }
  .padding-left-#{$i} {
    padding-left: $i * 1px !important
  }
  .padding-right-#{$i} {
    padding-right: $i * 1px !important
  }
  .padding-top-#{$i} {
    padding-top: $i * 1px !important
  }
  .padding-bottom-#{$i} {
    padding-bottom: $i * 1px !important
  }
}
@for $i from 0 through 2000 {
  .width-#{$i} {
    width: $i * 1px !important;
  }
  .max-width-#{$i} {
    max-width: $i * 1px;
  }
}

.d-flex{
  display: flex;
}
.flex-direction-column{
  flex-direction: column !important;
}
.flex-direction-row{
  flex-direction: row;
}
.justify-content-space-between{
    justify-content: space-between;
}
.margin-auto{
  margin: auto;
}
.cursor-pointer{
  cursor: pointer;
}
.p-absolute{
  position: absolute;
}
